@import "tailwindcss";

:root {
  /* --- TEMA CLARO (Ajustado conforme suas regras) --- */

  --background: #f7f7ea; /* Equivalente a bg-white */
  --foreground: #111827; /* Equivalente a text-gray-900 */

  --card-bg: #f9fafb; /* Equivalente a bg-gray-50 */
  --card-border: #e5e7eb; /* Equivalente a border-gray-200 */

  --text-primary: #111827; /* Equivalente a text-gray-900 */
  --text-secondary: #6b7280; /* Equivalente a text-gray-500 */

  --dr-green: #22c55e; /*Equivalente a text-green-500*/
  --accent: #4f46e5; /* Equivalente a bg-indigo-600 */
  --accent-foreground: #ffffff; /* Equivalente a text-white */

  --info-color: #2563eb; /* blue-600 */
  --info-bg: #dbeafe; /* blue-100 */
  --success-color: #16a34a; /* green-600 */
  --success-bg: #dcfce7; /* green-100 */
  --payment-color: #9333ea; /* purple-600 */
  --payment-bg: #f3e8ff; /* purple-100 */
  --danger-color: #dc2626; /* red-600 */
  --danger-bg: #fee2e2; /* red-100 */
  --info-border: #bfdbfe; /* blue-200 */
  --success-border: #bbf7d0; /* green-200 */
  --payment-border: #e9d5ff; /* purple-200 */
  --danger-border: #fecaca; /* red-200 */
  --warning-color: #92400e; /* yellow-800 */
  --warning-bg: #fef9c3; /* yellow-100 */
  --warning-border: #fcd34d; /* yellow-300 */
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.dark {
  /* Tema Escuro */
  --background: #14161a;
  --foreground: #f0f0f0;
  --sidebar-bg: #14161a;
  --sidebar-border: #3f3f3f;
  --sidebar-text: #f0f0f0; /* Iron */
  --sidebar-active-bg: #181820; /* Shark */
  --sidebar-active-text: #ffffff; /* Branco */
  --hover-bg: #27272b;
  --card-bg: #27272b; /* Tuna */
  --card-border: #44454a; /* Abbey */
  --text-primary: #f0f0f0; /* Iron */
  --text-secondary: #b9b9b9; /* Manatee */
  --accent: #4f46e5;
  --accent-foreground: #f0f0f0; /* Shark */

  --info-color: #60a5fa; /* blue-400 */
  --info-bg: rgba(30, 110, 238, 0.226);
  --success-color: #16a34a; /* green-400 */
  --success-bg: rgba(20, 199, 86, 0.301);
  --payment-color: #c084fc; /* purple-400 */
  --payment-bg: rgba(192, 132, 252, 0.15);
  --danger-color: #f87171; /* red-400 */
  --danger-bg: rgba(221, 54, 54, 0.247);
  --info-border: rgba(59, 130, 246, 0.2);
  --success-border: rgba(74, 222, 128, 0.2);
  --payment-border: rgba(192, 132, 252, 0.2);
  --danger-border: rgba(248, 113, 113, 0.2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
